if SHIELD_SLICE_LEFT

config ZMK_KEYBOARD_NAME
    default "Left Slice"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_SLICE_RIGHT

config ZMK_KEYBOARD_NAME
    default "Right Slice"

endif

if SHIELD_SLICE_LEFT || SHIELD_SLICE_RIGHT

config ZMK_SPLIT
    default y

endif